:root {
  --black: #0d0b0c;
  --backgound_2: #295BE6;
  --backgound_1: #ffffff;
  --text: #0d0b0c;
  --text_invert: #f2f2f2;
  --link: #295BE6;
  --highlight: #E6B029;
  --pop: #E6B029;
  --box: #295BE6;
  --ITA: #295BE6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link{
  color:var(--link);
  text-decoration:none;
  padding: 0;
}

b {
  color:var(--backgound_2);
}
a:link{
  color:var(--link);
  text-decoration:none;
}

a:visited{
    color:var(--link);
}

a:hover{
    color:var(--backgound_1);
    background-color: var(--highlight);
}

a:active {
    color: var(--backgound_1);
}

a:link{
  color:var(--link);
  text-decoration:none;
}


  a{
    padding: 2.5px;
  }

body {
  font-family: "EB Garamond", serif;
  line-height: 1.6;
  background: #ffffff;
}

mark {
  font-size: large;
}

p { color: var(--text);
    font-family: 'Roboto', sans-serif;
    text-align: justify;  
    line-height: normal; 
    padding-bottom: 2em;
}

.tech {
  color: var(--text);
  text-align: center;
  font-style: italic;
  font-size: smaller;
  padding-top: 1em;
}

.quote {
  margin:auto;
  font-style:italic; 
  color: var(--text);
  text-align: justify;
}

.name {
  color: var(--text_invert);
  background-color: var(--pop);
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

  .film h2 {
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-top: 1em;
}

.film p {
padding-left: 4.5em;
padding-right: 4.5em;
}

.ITA {
color: var(--ITA);
font-family: 'Roboto', sans-serif;
text-align: justify;
}

  .credits {
    text-align: center;
    font-size: 15px;
    text-align: top;
    margin: auto;
    border: 1px dashed var(--box);
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5;
  padding-left: 0px;
  padding-right: 0px;
}

.poster img {
  width:75%;
  padding:1em;
}

.bio {
  color: var(--text_invert);
}
 .contents {
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: left;
    color: var(--black);
    font-size: 16px;
    margin: 0;
    padding: .5em;
  padding-bottom: 2.5em;
  }

   .contents-mobile {
display: none;
  }

.contact h2 {
font-family: 'Roboto', sans-serif;
font-weight: normal;
 }

  h1 {
    padding-bottom: 0cm;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
  }

.contact {
  overflow: hidden;
  margin: 0px;
  background-image: url('images/allthatiswild.webp');
  background-position-y:top;
  background-repeat: no-repeat;
  background-size:cover;

  color: var(--text_invert);
  margin-left: 23vw; /* same width as left column */
  padding: 3em;
  padding-top: 1.5em;
  height: 100vh;
  font-family: "EB Garamond", serif;
  }


.left {
  position: fixed;
  width: 23vw;
  height: 100vh;
  padding: 1.5em;
  border-right: 0px dashed var(--backgound_2);
}
.film {
  margin-left: 22.5vw; /* same width as left column */
  padding: 3em;
  padding-top: 1.5em;
  float: center;
  text-align: center;
}

  .screenings {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

@media (max-width: 1250px) {

  body {
    display: flex;
    flex-direction: column; /* stack vertically */
  }

  .left {
    position: static; /* remove fixed positioning */
    width: 100%;
    height: auto; /* let it size to content */
    background-color: var(--background_1);
    border: 2.5px dashed var(--background_2);
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--backgound_2);
  }

  .film {
    margin-left: 0; /* remove offset */
    width: 100%;
    height: auto; /* let content decide height */
    float: center;
    padding: 2em;
  }
 
  .film p {
    padding-left: .5em;
    padding-right: .5em;
  }

  .credits{
    padding-left: 3em; 
   }

.contents { text-align: center;
}

  .contents-mobile {
    display: block;
    text-align: center;
    border-top: 1px dashed var(--backgound_2);
    padding-top: 2em;
  }

  .contact {
    margin-left: 0;
    text-align: center;
    width: 100%;
    height: 150vh;
  }

}