body {
    font-family: 'Times New Roman', serif;
    background-color: #ffffff;
}

p {
    color: #0D0B0C;
    padding-top: 0px;
    padding: 10px;
    padding-right: 15px;
}
.center {
    margin: auto;
    min-width: 700px;
    width: 50%;
    border: 0px solid #999999;
    padding: 0px;
  }

  table, tbody {
      vertical-align: top;
      padding: 0px;
      border-collapse: collapse;
      border: 0px dashed #BFB8AA;
      }

  tr, td {
        padding-left: 0px;

  }



  .film
  { text-align: justify;
    border-collapse: collapse;
    color: #6D6859;}


.correspondences {

    margin: auto;
    border: 1px dashed #FB574B;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}
        

  .home {
      color:#0D0B0C;
      font-size:20px;
      padding-top: 0px;
      text-align: top;
      padding-left: 18px;
      text-align: justify;
  }

  .bio {
    color:#0D0B0C;
    font-size:20px;
    padding-top: 0px;
    text-align: top;
    padding-left: 18px;
    vertical-align: top;
}

  .text {
      color:#6D6859;
      font-size:15px;
      
  }

  .textbody {
      padding-left: 8%;
      color:#6D6859;
      font-size:15px;
      padding-top: 0px;

  }
 
 
      a:link{
          color:#0D0B0C;
          text-decoration:none;
      }

      a:visited{
          color:#0D0B0C;
      }

      a:hover{
          color:#FB574B;
      }
      
      a:active {
          color: #FB574B;


      }

      
      h1 {
          color:#8F8411;
          font-size:36.8px;
          padding-top: 5%;
          padding-bottom: 0px;
          line-height: 1.0px;
          font-weight: lighter;
          font-kerning: auto;
      }



      .filmtitle {
        color:#0D0B0C;
        font-size:36.5px;
        padding-top: 5%;
        line-height: 00px;
        font-weight: lighter;
        font-kerning: auto;
        text-align: center;
    }

      h2 {
          color:#0D0B0C;
          font-size:17px;
          padding-bottom: 1px;
        padding-left: 10px;
        padding-top: 00px;
          line-height: 18px;
          font-weight: lighter;
      }
      
      footer {
        font-weight: lighter;
        text-align: center;
        padding: 30px;
      }

     h3 {
        font-weight: lighter;
        font-size:15px;
        line-height: 15px;
        padding-bottom: 0px;
        color:#0D0B0C;
        text-align: center;
      }

      h4 {
        font-weight: lighter;
        font-size:30px;
        line-height: 0px;
        padding: 0px;
        color:#0D0B0C;
        text-align: center;
      }